.habit-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 200px;
    background-color: rgb(71, 133, 148);
    box-shadow: black 10px 10px 10px;
    color: white;
    border: none;
    border-radius: 12px;
    margin-bottom: 1vh;
    margin-right: 1vh;
    padding: 5px 10px;
    font-size: calc(8px + 1vmin);
}
.habit-days {
    display: flex;
    flex-direction: row;
}
.habit-days p {
    margin-right: 5px;
}
.delete-button {
    background: none;
    border: none;
    font-size: large;
    border-radius: 4px;
    cursor: pointer;
}