.login-out {
    max-width: fit-content;
    margin-right: 20px;
    margin-top: 20px;
    float: right;
}

.header {
    color: rgb(2, 34, 56);
    font-size: calc(15px + 2vmin);
}

body {
    background-color: rgb(193, 211, 223);
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

.habit-list {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.habit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
}

.habit-form-title {
    display: flex;
    flex-direction: row;
}

.habit-form-days {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.habit-form-row {
    box-shadow: black 10px 10px 10px;
    width: 100%;
    padding: 1vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: white;
}

.submit-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 200px;
    background-color: rgb(71, 133, 148);
    box-shadow: black 1px 1px 1px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 1vh;
    margin-right: 1vh;
    padding: 5px 10px;
    font-size: calc(8px + 1vmin);
    cursor: pointer;
}
.submit-button:hover {
    background-color: #497285;
}